.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-title{
    font-weight: 500;
    font-size: 40px;
}

.a-sub{
    margin: 20px 0px;
    font-weight: 400;
}

.a-title{
    font-weight: 300;
}

.skillsToolsCont{
    width: 80%;
    height: 45vh;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.SkillsCont{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.SkillsTitleBar{
    width: 100%;
    height: 10%;
}

.BulletSkill{
    display: flex;
    height: 10%;
    width: 100%;
    padding-top: 10px;
}

.skillImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.SkillName{
    align-self: center;
    padding-left: 10px;
    font-weight: 300;
}

.ToolsCont{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.ToolsTitleBar{
    width: 100%;
    height: 10%;
}

.BulletTool{
    display: flex;
    height: 10%;
    width: 100%;
    padding-top: 10px;
}

.toolImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.ToolName{
    align-self: center;
    padding-left: 10px;
    font-weight: 300;
}

.a-award-texts{
    width: 70%;
}

.a-award-title{
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

@media screen and (max-width:480px) {
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        height: 100%;
    }

    .a-left{
        width: 100%;
    }

    .a-card{
        height: 30vh;
    }

    .a-card.bg, .a-award{
        display: none;
    }

    .a-right{
        padding: 20px;
    }

    .skillsToolsCont {
        margin-bottom: 30px;
        width: 100%;
    }

    .toolImg, .skillImg{
        width: 30px;
        height: 30px;
    }

    .SkillName, .ToolName{
        font-size: 14px;
    }

    .SkillsCont, .ToolsCont{
        padding: 2px;
    }

    .toolImg, .skillImg{
        margin-right: 0;
    }
}