.pl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.uiux{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 100%;
}

.pl-texts{
    width: 40%;
}

.pl-title{
    font-size: 50px;
    font-weight: 600;
}

.pl-desc{
    margin: 20px 0px;
}

.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .pl{
        padding: 10px;
        position: relative;
    }

    .pl-texts{
        width: 100%;
    }
}